@media screen and (max-width: 1200px) and (handheld){
    /* All */
    :focus, :active{
        outline: none;
    }
    hr{
        width: 80%;
        height: 1px;
        background-color: black;
    }
    h2.block-title{
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 100%;
        font-weight: bolder;
    }
    a.btn-white{
        padding: 1% 5% 1% 5%;
        background-color: white;
        border-radius: 1%;
        font-size: 80%;
        font-weight: bolder;
        transition: all 125ms linear;
    }
    a.btn-white:hover{
        transition: all 125ms linear;
        transform: scale(1.1);
    }
    a.btn-yellow{
        padding: 1% 5% 1% 5%;
        background-color: #ffef00;
        font-size: 80%;
        border-radius: 1%;
        font-weight: bolder;
        transition: all 125ms linear;
    }
    a.btn-yellow:hover{
        transition: all 125ms linear;
        transform: scale(1.1);
    }
    a.btn-yellow-outline{
        padding: 1% 5% 1% 5%;
        background-color: white;
        border-width: 1px;
        border-color: #ffef00;
        border-radius: 1%;
        font-size: 80%;
        font-weight: bolder;
        transition: all 125ms linear;
    }
    a.btn-yellow-outline:hover{
        transition: all 125ms linear;
        transform: scale(1.1);
    }
    /* Header */
    header#header{
        width: 100%;
        padding-top: 0;
        padding-right: 3%;
        padding-bottom: 3%;
        padding-left: 3%;
        background-color: #ffef00;
    }
    img#message{
        display: none;
    }
    img#lamp{
        position: relative;
        bottom: 5px;
        left: 25%;
        width: 50%;
    }
    img#menu{
        position: relative;
        right: 90vw;
        width: 50px;
    }
    img#gear{
        display: none;
    }
    p#date{
        position: relative;
        bottom: 10vh;
        left: 40px;
        width: 100%;
        font-size: 100%;
        font-weight: bolder;
    }
    img#title{
        position: relative;
        bottom: 100px;
        width: 100%;
    }
    a#get-tickets{
        position: relative;
        bottom: 10vw;
        font-size: 50%;
    }
    img#legrand-lamp{
        src: url("images/legrand.png");
        width: 100%;
        position: relative;
        top: 50vw;
        right: 10px;
    }
    img#zil{
        width: 50%;
        position: relative;
        top: 50vw;
        left: 0;
    }

    /* Text block */
    div#text{
        width: 100%;
        margin-bottom: 5%;
        background-color: white;
        font-size: 50%;
    }
    #text-img-1{
        position: relative;
        font-size: 100%;
    }
    #text-img-2{
        position: relative;
        font-size: 100%;
    }
    #text-img-3{
        position: relative;
        font-size: 100%;
    }
    #text-img-4{
        position: relative;
        font-size: 100%;
    }
    #text-img-5{
        position: relative;
        font-size: 100%;
    }
    #text-img-6{
        position: relative;
        font-size: 100%;
    }
    img#corona{
        position: relative;
        width: 50%;
        right: 20%;
    }
    img#mute{
        position: relative;
        width: 50%;
        right: 15%;
    }
    img#dollar{
        position: relative;
        width: 50%;
        right: 15%;
    }

    /* Slider */
    
    /* Shedule */
    div#tabs{
        width: 100%;
        margin-bottom: 5%;
    }
    img#calendar{
        width: 50%;
    }
    a.tab{
        font-size: 50%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 5%;
        padding-right: 5%;
    }
    p.time{
        position: relative;
        right: 70px;
        font-size: 50%;
    }
    div#line{
        width: 100px;
    }
    p.speaker{
        font-size: 50%;
    }
    p.speakers-preview{
        font-size: 50%;
    }
    a#more{
        font-size: 50%;
        margin-bottom: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 5%;
        padding-right: 5%;
    }

    /* Gallery */
    div#gallery{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: white;
    }
    img#camera{
        width: 50%;
    }
    a.year{
        font-size: 50%;
        margin-bottom: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 5%;
        padding-right: 5%;
    }

    /* Book */
    div#book{
        width: 100%;
        margin-top: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #ffef00;
    }
    input#name{
        border-width: 0;
        border-radius: 1%;
        position: relative;
        left: 9%;
        padding: 5%;
        width: 100%;
    }
    input#email{
        border-width: 0;
        border-radius: 1%;
        position: relative;
        left: 9%;
        padding: 5%;
        width: 100%;
    }
    input#phone{
        border-width: 0;
        border-radius: 1%;
        position: relative;
        left: 9%;
        padding: 5%;
        width: 100%;
    }
    a#book-now{
        font-size: 50%;
        margin-bottom: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 5%;
        padding-right: 5%;
    }
    p.form_text{
        position: relative;
        left: 10%;
    }

    /* Footer */
    div#footer{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        position: relative;
    }
    img#toptal{
        width: 100%;
    }
    img#skillbox{
        width: 100%;
    }
    img#floop{
        width: 100%;
    }
    img#legrand{
        width: 100%;
    }
    img#payu{
        width: 100%;
    }
    img.footer-link{
        width: 50px;
    }
}