@media screen and (min-width: 800px){
    /* All */
    ::-webkit-scrollbar{
        width: 0px;
        background: transparent;
    }
    :focus, :active{
        outline: none;
    }
    html, body{
        position: relative;
        max-width: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: hidden;
    }
    hr{
        width: 80%;
        height: 1px;
        background-color: black;
    }
    h2.block-title{
        margin-top: 5%;
        margin-bottom: 5%;
        font-weight: bolder;
    }
    a.btn-white{
        padding: 1% 5% 1% 5%;
        background-color: white;
        border-radius: 1%;
        font-weight: bolder;
        transition: all 125ms linear;
    }
    a.btn-white:hover{
        transition: all 125ms linear;
        transform: scale(1.1);
    }
    a.btn-yellow{
        padding: 1% 5% 1% 5%;
        background-color: #ffef00;
        border-radius: 1%;
        font-weight: bolder;
        transition: all 125ms linear;
    }
    a.btn-yellow:hover{
        transition: all 125ms linear;
        transform: scale(1.1);
    }
    a.btn-yellow-outline{
        padding: 1% 5% 1% 5%;
        background-color: white;
        border-width: 1px;
        border-color: #ffef00;
        border-radius: 1%;
        font-weight: bolder;
        transition: all 125ms linear;
    }
    a.btn-yellow-outline:hover{
        transition: all 125ms linear;
        transform: scale(1.1);
    }
    /* Header */
    header#header{
        position: relative;
        width: 100%;
        padding-top: 0;
        padding-right: 3%;
        padding-bottom: 3%;
        padding-left: 3%;
        background-color: #ffef00;
    }
    img#message{
        margin-top: 3%;
        width: 30%;
    }
    img#lamp{
        position: relative;
        bottom: 20px;
        width: 40%;
    }
    img#menu{
        position: relative;
        margin-top: 50%;
        width: 100%;
        transition: all 125ms linear;
        transform: scale(1);
        z-index: 999;
    }
    img#menu:hover{
        margin-top: 50%;
        width: 100%;
        transition: all 125ms linear;
        transform: scale(1.1);
    }
    img#gear{
        position: relative;
        bottom: 45vh;
        left: 100px;
        width: 100%;
        transition: all 125ms linear;
        transform: rotate(0deg);
    }
    img#gear:hover{
        transition: all 125ms linear;
        transform: rotate(-15deg);
    }
    p#date{
        position: relative;
        bottom: 35vh;
        left: 12vw;
        width: 100%;
        transform: rotate(-90deg);
        font-weight: bolder;
    }
    img#title{
        position: relative;
        bottom: 40vh;
        width: 60%;
    }
    a#get-tickets{
        position: relative;
        bottom: 40vh;
    }
    img#legrand-lamp{
        position: relative;
        bottom: 45vh;
        left: 0;
    }
    img#zil{
        position: relative;
        bottom: 45vh;
        right: 0;
    }

    /* Text block */
    div#text{
        width: 100%;
        max-width: 1280px;
        margin-bottom: 5%;
        background-color: white;
    }
    #text-img-1{
        position: relative;
    }
    #text-img-2{
        position: relative;
    }
    #text-img-3{
        position: relative;
        bottom: 100px;
    }
    #text-img-4{
        position: relative;
        bottom: 100px;
    }
    #text-img-5{
        position: relative;
        bottom: 100px;
    }
    #text-img-6{
        position: relative;
        bottom: 100px;
    }
    img#corona{
        position: relative;
        top: 10%;
        width: 50%;
        right: 20%;
    }
    img#mute{
        position: relative;
        bottom: 15%;
        width: 50%;
        right: 15%;
    }
    img#dollar{
        position: relative;
        bottom: 15%;
        width: 50%;
        right: 15%;
    }

    /* Slider */
    div#speakers{
        width: 100%;
        max-width: 1280px;
        margin-bottom: 5%;
        background-color: white;
    }
    img#microphone{
        width: 50%;
        transition: all 125ms linear;
    }
    img#microphone:hover{
        transform: rotate(-30deg);
        transition: all 125ms linear;
    }
    img.speakers-img{
        width: 100%; 
    }
    img.speakers-arrow{
        position: relative;
        top: 10vh;
        width: 25vh;
        transition: all 125ms linear;
    }
    img#right-yellow{
        position: relative;
        right: 3vw;
    }
    img#left-yellow{
        position: relative;
        right: 3vw;
    }
    
    /* Shedule */
    div#tabs{
        width: 100%;
        max-width: 1280px;
        margin-bottom: 5%;
        background-color: white;
    }
    img#calendar{
        width: 50%;
    }
    p.time{
        font-weight: bolder;
    }
    hr.line{
        position: relative;
        width: 5vw;
        overflow: visible;
        background-color: #ffef00;
    }
    a#more{
        margin-bottom: 5%;
    }

    /* Gallery */
    div#gallery{
        width: 100%;
        max-width: 1280px;
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: white;
    }
    img#camera{
        width: 40%;
    }
    a.year{
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
    div#gallery-slider{
        width: 100%;
        box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    /* Book */
    div#book{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #ffef00;
    }
    p.form-text{
        position: relative;
        left: 3vw;
    }
    input#name{
        position: relative;
        left: 3vw;
        border-width: 0;
        border-radius: 1%;
        position: relative;
        padding: 2%;
        width: 80%;
    }
    input#email{
        position: relative;
        left: 3vw;
        border-width: 0;
        border-radius: 1%;
        position: relative;
        padding: 2%;
        width: 80%;
    }
    input#phone{
        position: relative;
        left: 3vw;
        border-width: 0;
        border-radius: 1%;
        position: relative;
        padding: 2%;
        width: 80%;
    }
    a#book-now{
        margin: 5%;
    }
    p.form_text{
        position: relative;
        left: 10%;
    }

    /* Footer */
    div#footer{
        width: 100%;
        max-width: 1280px;
        margin-top: 5%;
        position: relative;
    }
    div#second-sponsors{
        position: relative;
        bottom: 100px;
    }

    /* Modal menu */
    div#modal-menu{
        position: relative;
        display: none;
        padding-top: 8%;
        padding-bottom: 5%;
        width: 30vw;
        height: 90vh;
        background-color: white;
        position: absolute;
        top: 0vh;
        right: 0vw;
        z-index: 1;
    }
    hr.menu-hr{
        margin: 0 10% 0 10%;
        padding: 0;
        width: 80%;
        height: 2px;
        background-color: #ffee00;
        border-style: none;
    }
    div.menu-item:hover{
        background-color: #ffef00;
    }
    h2.menu-text{
        width: 100%;
        padding: 3%;
        font-weight: bolder;
        font-size: 5vh;
    }
    a.menu-a{
        color: black;
        text-decoration-line: none;
    }

    /* Modal Fillip */
    div#modal-fillip{
        display: none;
        position: fixed;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        left: 10vw;
        right: 10vw;
        top: 10vh;
        bottom: 10vh;
        width: 80vw;
        height: 80vh;
        overflow: visible;
        background-color: white;
        z-index: 1000;
        border-color: #ffef00;
        border-style: solid;
        border-width: 0.5vh;
    }
    img#fillip-img{
        width: 100%;
    }
    div#fillip-text{
        font-size: 3vh;
    }
    h2#fillip-text{
        font-size: 5vh;
    }
}