@media (max-width: 799px) and (orientation: portrait){
    /* All */
    :focus, :active{
        outline: none;
    }
    html, body{
        position: relative;
        max-width: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: hidden;
    }
    hr{
        width: 80%;
        height: 1px;
        background-color: black;
    }
    h2.block-title{
        margin-top: 5%;
        margin-bottom: 5%;
        font-size: 100%;
        font-weight: bolder;
    }
    a.btn-white{
        padding: 1% 5% 1% 5%;
        background-color: white;
        border-radius: 1%;
        font-size: 80%;
        font-weight: bolder;
        transition: all 125ms linear;
    }
    a.btn-white:hover{
        transition: all 125ms linear;
        transform: scale(1.1);
    }
    a.btn-yellow{
        padding: 1% 5% 1% 5%;
        background-color: #ffef00;
        font-size: 80%;
        border-radius: 1%;
        font-weight: bolder;
        transition: all 125ms linear;
    }
    a.btn-yellow:hover{
        transition: all 125ms linear;
        transform: scale(1.1);
    }
    a.btn-yellow-outline{
        padding: 1% 5% 1% 5%;
        background-color: white;
        border-width: 1px;
        border-color: #ffef00;
        border-radius: 1%;
        font-size: 80%;
        font-weight: bolder;
        transition: all 125ms linear;
    }
    a.btn-yellow-outline:hover{
        transition: all 125ms linear;
        transform: scale(1.1);
    }
    /* Header */
    header#header{
        width: 100%;
        padding-top: 0;
        padding-right: 3%;
        padding-bottom: 3%;
        padding-left: 3%;
        background-color: #ffef00;
    }
    img#message{
        display: none;
    }
    img#lamp{
        position: relative;
        bottom: 5px;
        left: 25%;
        width: 50%;
    }
    img#menu{
        position: relative;
        bottom: 15vh;
        width: 50px;
    }
    img#gear{
        display: none;
    }
    p#date{
        position: relative;
        bottom: 10vh;
        left: 15vw;
        width: 100%;
        font-size: 100%;
        font-weight: bolder;
    }
    img#title{
        position: relative;
        bottom: 10vh;
        left: 20vw;
        width: 100%;
    }
    a#get-tickets{
        position: relative;
        bottom: 10vw;
        font-size: 50%;
    }
    img#legrand-lamp{
        src: url("../images/legrand.png");
        width: 100%;
        position: relative;
        top: 20vw;
        right: 10px;
    }
    img#zil{
        width: 50%;
        position: relative;
        top: 20vw;
        left: 0;
    }

    /* Text block */
    div#text{
        width: 100%;
        margin-bottom: 5%;
        background-color: white;
        font-size: 50%;
    }
    #text-img-1{
        position: relative;
        font-size: 100%;
    }
    #text-img-2{
        position: relative;
        font-size: 100%;
    }
    #text-img-3{
        position: relative;
        font-size: 100%;
    }
    #text-img-4{
        position: relative;
        font-size: 100%;
    }
    #text-img-5{
        position: relative;
        font-size: 100%;
    }
    #text-img-6{
        position: relative;
        font-size: 100%;
    }
    img#corona{
        position: relative;
        width: 50%;
        right: 20%;
    }
    img#mute{
        position: relative;
        width: 50%;
        right: 15%;
    }
    img#dollar{
        position: relative;
        width: 50%;
        right: 15%;
    }

    /* Slider */
    div#slider{
        width: 100%;
        max-width: 1280px;
        margin-bottom: 5%;
    }
    img#microphone{
        width: 50%;
        transition: all 125ms linear;
    }
    img#microphone:hover{
        transform: rotate(-30deg);
        transition: all 125ms linear;
    }
    img.speakers-img{
        width: 100%; 
    }
    img.speakers-arrow{
        position: relative;
        right: 16vw;
        width: 20vh;
        transition: all 125ms linear;
    }
    
    /* Shedule */
    div#tabs{
        width: 100%;
        margin-bottom: 5%;
    }
    img#calendar{
        width: 50%;
    }
    a.tab{
        font-size: 50%;
        margin-top: 5%;
        margin-bottom: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 5%;
        padding-right: 5%;
    }
    p.time{
        position: relative;
        right: 70px;
        font-size: 50%;
        font-weight: bolder;
    }
    hr.line{
        position: relative;
        right: 10vw;
        width: 10vw;
        overflow: visible;
        background-color: #ffef00;
    }
    p.speaker{
        font-size: 50%;
    }
    p.speakers-preview{
        font-size: 50%;
    }
    a#more{
        font-size: 50%;
        margin-bottom: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 5%;
        padding-right: 5%;
    }

    /* Gallery */
    div#gallery{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        background-color: white;
    }
    img#camera{
        width: 50%;
    }
    div#gallery-slider{
        top: 3vh;
        width: 50vw;
        box-shadow:0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }
    li.gallery-li{
        display: none;
    }
    a.year{
        font-size: 50%;
        margin-top: 1vh;
        margin-bottom: 1vh;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 5%;
        padding-right: 5%;
    }

    /* Book */
    div#book{
        width: 100%;
        margin-top: 5%;
        padding-top: 5%;
        padding-bottom: 5%;
        background-color: #ffef00;
    }
    p.form-text{
        position: relative;
        right: 13vw;
    }
    input#name{
        border-width: 0;
        border-radius: 1%;
        position: relative;
        right: 13vw;
        padding: 5%;
        width: 50vw;
    }
    input#email{
        border-width: 0;
        border-radius: 1%;
        position: relative;
        right: 13vw;
        padding: 5%;
        width: 50vw;
    }
    input#phone{
        border-width: 0;
        border-radius: 1%;
        position: relative;
        right: 13vw;
        padding: 5%;
        width: 50vw;
    }
    a#book-now{
        font-size: 50%;
        margin-bottom: 5%;
        padding-top: 1%;
        padding-bottom: 1%;
        padding-left: 5%;
        padding-right: 5%;
    }
    p.form_text{
        position: relative;
        left: 10%;
    }

    /* Footer */
    div#footer{
        width: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
        position: relative;
    }
    img#toptal{
        width: 100%;
    }
    img#skillbox{
        width: 100%;
    }
    img#floop{
        width: 100%;
    }
    img#legrand{
        width: 100%;
    }
    img#payu{
        width: 100%;
    }
    img.footer-link{
        width: 50px;
    }

    /* Modal menu */
    div#modal-menu{
        display: none;
        padding-top: 20vh;
        width: 100vw;
        height: 100vh;
        background-color: white;
        position: absolute;
        top: 0vh;
        right: 0vw;
    }
    hr.menu-hr{
        margin: 0 10% 0 10%;
        padding: 0;
        width: 80%;
        height: 2px;
        background-color: #ffef00;
        border-style: none;
    }
    div.menu-item:hover{
        background-color: #ffef00;
    }
    h2.menu-text{
        width: 100%;
        padding: 3%;
        font-weight: bolder;
        font-size: 5vh;
    }
    a.menu-a{
        color: black;
        text-decoration-line: none;
    }

    /* Modal Fillip */
    div#modal-fillip{
        display: none;
        position: fixed;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 5%;
        left: 10vw;
        top: 10vh;
        width: 80%;
        max-width: 1280px;
        height: 80vh;
        overflow: visible;
        background-color: white;
        z-index: 1000;
        border-color: #ffef00;
        border-width: 1px;
    }
    img#fillip-img{
        width: 100%;
    }
    div#fillip-text{
        font-size: 1vh;
    }
    h2#fillip-text{
        font-size: 1vh;
    }
}